{% extends "base.html.twig" %}

{% block title %}SymRecipe - Accueil
{% endblock %}

{% block body %}
	<div class="container mt-4">

		<div class="jumbotron">
			<h1 class="display-4">Bienvenue sur SymRecipe</h1>
			<p class="lead">Symrecipe est une application qui va te permettre de créer des recettes à base d'ingrédients que tu
				      auras toi même créé. Tu pourras partager tes recettes à la communeauté du site, ou bien les garder en privé.</p>
			<hr class="my-4">
			<p>Pour commencer, rendez-vous sur la page inscription pour utiliser l'application</p>
			<a class="btn btn-primary btn-lg" href="{{ path('security.registration')}}" role="button">Inscription</a>
		</div>
	</div>


{% endblock %}
